.content {
  max-width: 114rem;
  margin: 0 auto;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center__text {
  font-weight: 500;
  font-size: 1.8rem;
}
